<nav class="navbar navbar-expand-lg bg navbar-dark">
    <a class="navbar-brand" href="/home/">Picture on the Wall</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <a href="https://github.com/Keisay" style='color: #FFFFFF'><i class="fa fa-github" style="font-size:24px" aria-hidden="true"></i></a>
      </form>
    </div>
  </nav>